{% extends 'home/homebase.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block title %} {{ setting.title }} Contacts {% endblock %}
{% block description %} {{ setting.description }}{% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'home/sidebar.html' %} {% endblock %}

{% block body %}
    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active"> Contact Page</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->
<!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <form method="post" id="checkout-form" class="clearfix">
                    {% csrf_token %}
                    <div class="col-md-4">

                        <div class="billing-details">
                            <div class="section-title">
                                <h4 class="title"> Отправьте нам сообщение </h4>
                            </div>
                            {{ form|crispy }}
                        </div>
						<div class="pull-right">
							<button class="primary-btn"> Send message</button>
						</div>
                    </div>
                    <div class="col-md-8">
                        <div class="shiping-methods">
                            <div class="section-title">
                                <h4 class="title"> Контактная информация</h4>
                            </div>
							<p> {{ setting.contact | safe }} <p>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->

{% endblock %}





{% block foot %} {% include 'home/footer.html' %} {% endblock %}

