{% extends 'home/homebase.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Update password {% endblock %}
{% block description %} {{ setting.description }}{% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'home/sidebar.html' %} {% endblock %}

{% block body %}
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active"> Update password </li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

		<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="col-md-3">
            {% include "user/user_panel.html" %}
        </div>
        <div class="col-md-9">
            <div class="billing-details">
                <div class="section-title">
                    <h3 class="title">  Update your info:</h3>
                </div>
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                 <input class="primary-btn add-to-cart" type="submit" value="Save changes">
            </form>
            <!-- /row -->
        </div>

    </div>
    <!-- /container -->

</div>
<!-- /section -->
{% endblock %}

{% block foot %} {% include 'home/footer.html' %} {% endblock %}

