{% extends 'home/homebase.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} My comments  {% endblock %}
{% block description %} {{ setting.description }}{% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'home/sidebar.html' %} {% endblock %}

{% block body %}
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
                <li><a href="{% url 'myaccount' %}">My profile</a></li>
				<li class="active"> My comments  </li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

		<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="col-md-3">
            {% include "user/user_panel.html" %}
        </div>
        <div class="col-md-9">
            <!-- /row -->
           <div class="billing-details">
                <div class="section-title">
                    <h3 class="title"> My comments </h3>
                </div>
            </div>
           <table class="shopping-cart-table table">
            <thead>
            <tr>
                <th></th>
                <th> Product</th>
                <th class="text-center"> Rate </th>
                <th class="text-center"> Subjects</th>
                <th class="text-center"> Comment</th>
                <th class="text-center"> Status </th>
                <th class="text-center"> Date </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for c in comments %}
            <tr>
                <td class="thumb"><img src="{{ c.product.image.url }}" alt=""
                                       style="height: 70px; width: auto;"></td>
                <td class="details">
                    <a href="/product/{{ c.product.id }}/{{ c.product.slug }}"> {{ c.product.title }}</a>
                </td>
               <td class="qty text-center"><p> {{ c.rate }} </p></td>
                <td class="qty text-center"><p> {{ c.subject }} </p></td>
                <td class="qty text-center"><p> {{ c.comment }} </p></td>
                <td class="qty text-center"><p> {{ c.status }} </p></td>
                <td class="qty text-center"><p> {{ c.create_at }} </p></td>
                <td class="text-right">	<a class="main-btn icon-btn" href="/user/deletecomment/{{ c.id }}"
										onclick="return confirm('Are you sure want to delete this comment?')"><i class="fa fa-close"></i></a></td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

    </div>
    <!-- /container -->

</div>
<!-- /section -->
{% endblock %}

{% block foot %} {% include 'home/footer.html' %} {% endblock %}

