{% extends 'home/homebase.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} My orders {% endblock %}
{% block description %} {{ setting.description }}{% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'home/sidebar.html' %} {% endblock %}

{% block body %}
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
                <li><a href="{% url 'myaccount' %}">My profile</a></li>
				<li class="active"> My orders </li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

		<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="col-md-3">
            {% include "user/user_panel.html" %}
        </div>
        <div class="col-md-9">
            <div class="billing-details">
                <div class="section-title">
                    <h3 class="title">  Order list</h3>
                </div>
            </div>
            <table class="shopping-cart-table table">
                            <thead>
                            <tr>
                                <th class="text-center">ID </th>
                                <th class="text-center">First name</th>
                                <th class="text-center">Last name</th>
                                <th class="text-center"> Total</th>
                                <th class="text-center"> Status</th>
                                <th class="text-center"> Date</th>
                                <th class="text-center"> </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for o in orders %}
                            <tr>
                                <td class="qty text-center"><p> {{ o.id }} </p></td>
                                <td class="qty text-center"><p> {{ o.first_name }} </p></td>
                                <td class="qty text-center"><p> {{ o.last_name }} </p></td>
                                <td class="qty text-center"><p> {{ o.total }} </p></td>
                                <td class="qty text-center"><p> {{ o.status }} </p></td>
                                <td class="qty text-center"><p> {{ o.create_at }} </p></td>
                                <td class="qty text-center"><a class="primary-btn" href="/user/orderdetail/{{ o.id }}"> Detail </a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
            <!-- /row -->
        </div>

    </div>
    <!-- /container -->

</div>
<!-- /section -->
{% endblock %}

{% block foot %} {% include 'home/footer.html' %} {% endblock %}

